@{
    Layout = null;
}

<!doctype html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>Meu Roteiro / São Paulo</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="~/Content/libs/materialize.min.css">
        <link rel="stylesheet" href="~/Content/libs/google-fonts.css">
        <link rel="stylesheet" href="~/Content/libs/selectize.default.css">
        <link rel="stylesheet" href="~/Content/libs/tooltipster.bundle.min.css">
        <link href="~/Content/Css/bootstrap.css" rel="stylesheet">
        <link rel="stylesheet" href="~/Content/Css/Roteiros.css">
    </head>
<body>
    <a href="Home-page.html" class="btn-floating btn-large waves-effect waves-light" id="botao-frase">
        <i class="material-icons">reply</i>
    </a>

    <h1 class="center">São Paulo</h1>
    <table class="table">
        <h2>Programação</h2>
        <thead class="cor">
            <tr>
                <th scope="col">Dia</th>
                <th scope="col">Manhã</th>
                <th scope="col">Tarde</th>
                <th scope="col">Noite</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1º</th>
                <td>Viagem</td>
                <td>Hotel / Livre</td>
                <td>Livre / Dormir</td>
                </a>
            </tr>
            <tr>
                <th scope="row">2º</th>
                <td>Avenida Paulista</td>
                <td> Museu de Arte de São Paulo / Japan House</td>
                <td>Livre / Dormir</td>
            </tr>
            <tr>
                <th scope="row">3º</th>
                <td>Banespão – Farol Santander</td>
                <td>Mercado Municipal</td>
                <td>Livre / Dormir</td>
            </tr>
            <tr>
                <th scope="row">4º</th>
                <td>Vila Madalena e do Beco do Batman</td>
                <td>Pinacoteca</td>
                <td>Livre / Dormir</td>
            </tr>
            <tr>
                <th scope="row">5º</th>
                <td>Parque Ibirapuera</td>
                <td>Viagem de volta</td>
                <td>---</td>
            </tr>
            <tr>
        </tbody>
    </table>

    <table class="table">
        <h2>Gastos (média)</h2>
        <thead class="cor">
            <tr>
                <th scope="col">Casa</th>
                <th scope="col">Uber</th>
                <th scope="col">Comida</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>800 / 1300 reais</td>
                    <td>300 / 500 reais</td>
                    <td>300 / 500 reais</td>
                    <td>1400 / 2300 reais</td>
                </tr>
            </tbody>
        </table>

        <script src="js/jquey.js"></script>
    </body>
</html>
