body {
    padding: 50px;
}

p {
    font-size: 30px;
}

th, td {
    font-size: 18px;
}

.cor {
    background: linear-gradient(to right, #610B0B, #8A0808, #B40404, #DF0101, #FF0000);
    color: white;
}

.botao-cor-especial {
    background: darkred;
    color: white;
    border-color: darkred;
}

#botao-frase {
    background-color: darkred;
}
