.menu{
    background-color: darkred;
}
.textos{
    color: white;
}
.card-largura{
    max-width: 18rem;
}
.imagem{
    object-fit: cover;
    object-position: 0 50%;
    height: 400px;
}
.cor-especial{
    color: darkred;
}
.botao-cor-especial{
    background-color: darkred;
    color: white;
}
.borda-cor-especial{
    border-color: darkred;
}
.card-posicao-imagem{
    object-fit: cover;
    height: 200px;
}
.titulo{
    color: white;
    font-size: 30px;
}
.container{
    width: auto;
    padding: 0 15px;
}
.footer{
    color: black;
}