main{
    padding: 15px;
}
.menu{
    background: linear-gradient(to right, #610B0B, #8A0808, #B40404, #DF0101, #FF0000);
}
.textos{
    color: white;
}
.card-largura{
    max-width: 18rem;
}
.imagem{
    object-fit: cover;
    object-position: 0 50%;
    height: 400px;
}
.frase{
	background: linear-gradient(to right, darkred, red);
	   -webkit-background-clip: text;
	   -webkit-text-fill-color: transparent;
}
.botao-cor-especial{
    background-color: darkred;
    color: white;
}
.borda-cor-especial{
    border-color: darkred;
}
.card-posicao-imagem{
    object-fit: cover;
    height: 200px;
}
.titulo{
    color: white;
    font-size: 30px;
}
.container{
    width: auto;
    padding: 0 10px;
}
.footer{
    color: black;
}